*
!.gitignore
!acme-client.conf
!dnscrypt-proxy.toml
!hostname.*
!sshd_config
!pf.*
!rc.conf.local
!relayd.*
!white
!httpd.*
!crontab
!failed_ips.sh
!installed_files.sh
!adblocks.conf
!adblocks.sh
!unbound.conf
!newsyslog.conf
!dhcpd.conf
!sshd_config
!unbound.conf
!easyrsa.txt
!easyrsa.vars
!httpd.tls.www.conf
!httpd.tls.earth.conf
!httpd.tls.dns.conf
!httpd.tls.git.conf
!httpd.tls.cloud.conf
!httpd.nextcloud.conf
