*
!.gitignore
!acme-client.conf
!dnscrypt-proxy.toml
!hostname.*
!ssh/sshd_config
!pf.*
!rc.conf.local
!relayd.*
!white
!httpd.*
!crontab
!failed_ips.sh
!installed_files.sh
!adblocks.conf
!unbound.conf
!root.hints
